@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

h1,h2,h3 {
  font-family: 'Monoton', cursive;
}

main, section {
  scroll-margin-top: 120px;
}

main {
  margin-top: 120px;
}

nav {
  width: 100%;
  background-color: rgba(151, 127, 127, 0.945);
}


/* sm */
@media (min-width: 576px) {
  nav {
    position: fixed;
    top: 0;
  }
}

/* md */
@media (min-width: 768px) {

}

p, li {
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;

  margin: 0 auto;
}


/* sm */
@media (min-width: 576px) {
  p { width: 100%; }
}

/* md */
@media (min-width: 768px) {
  p { width: 60%; }
}


img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  box-shadow: 0px 0px 10px black;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  img {
    width: 50%;
    margin: 0 auto;
    display: block;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up)  */
/* @media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */



h1,h2,h3, #contact, footer {
  text-align: center;
}

