@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../../images/bg1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}




h1,h2,h3 {
  font-family: 'Monoton', cursive;
}

main, section {
  scroll-margin-top: 120px;
}

main {
  margin-top: 120px;
}

nav {
  width: 100%;
  background-color: rgba(151, 127, 127, 0.945);

  position: fixed;
  top: 0;
}

.flex-container  {
  display: flex;
}

nav ul {
  list-style: none;
}

nav ul li a {
  color: white;
  padding: 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgba(255, 192, 203, 0.351);
  text-decoration: underline;
  border-radius: 13px;
  color: rgb(71, 58, 60);
}

#records .flex-container > div {
  width: 33%;
  background-color: rgba(247, 247, 247, 0.73);
  border: 2px solid yellow;
}




h1,h2,h3, #contact, footer {
  text-align: center;
}


p, li {
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;

  margin: 0 auto;
}

    /* sm */
    @media (min-width: 576px) {
      p { width: 100%; }
    }

    /* md */
    @media (min-width: 768px) {
      p { width: 60%; }
    }


img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: 0px 0px 10px black;
}

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) { 
      img {
        width: 50%;
        margin: 0 auto;
        display: block;
      }
    }

    /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      img {
        width: 100%;
      }
    }

/* Large devices (desktops, 992px and up)  */
/* @media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */




